{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "insertPragma": false,
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": false,
  "parser": "babel"
}
